.content{
  padding: 1em;
}
.waterfall{
  column-count:1;
  column-gap: 1em;
  .waterfall-item{
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    cursor:pointer;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    &:hover{
      opacity:0.9;
    }
    .description{
      display: block;
      padding: 10px 16px;
      line-height: 1.35em;
      overflow: hidden;
      word-wrap: break-word;
    }
    .img-box{
      position:relative;
      img{
        width: 100%;
        height:auto;
      }
      .cover{
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom:0;
      }
    }
  }
}